<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainsoft.modules.population.analyze.dao.oracle.IFrequencyDao">
	<!-- 时间频次分析 -->
    <select id="timeAnalyze" resultType="java.util.Map" parameterType="Frequency">
		SELECT * FROM (
		SELECT TO_CHAR(CAPTURE_TIME, 'hh24') AS "hour", COUNT(1) AS "count"
		 FROM SCAN_ENDING_IMPROVE
		 WHERE IMSI_CODE=#{imsi}
		 <if test="beginDate != null and beginDate !=''">
		 	AND CAPTURE_TIME<![CDATA[>=]]>TO_DATE(#{beginDate}, 'YYYY-MM-DD hh24:mi:ss')
		 </if>
		 <if test="endDate != null and endDate !=''">
		 	AND CAPTURE_TIME<![CDATA[<=]]>TO_DATE(#{endDate}, 'YYYY-MM-DD hh24:mi:ss')
		 </if>
		 GROUP BY TO_CHAR(CAPTURE_TIME, 'hh24')
		 )  ORDER BY "hour"
    </select>
    <!-- 地点频次分析 -->
    <select id="placeAnalyze" resultType="java.util.Map" parameterType="Frequency">
		SELECT SN_CODE as "machineId", MACHINE_NAME as "machineName", SERVICE_NAME as "serviceName", COUNT(1) AS "count"
		 FROM SCAN_ENDING_IMPROVE
		 LEFT JOIN MACHINE_INFO b ON SN_CODE=MACHINE_ID
 		 INNER JOIN SERVICE_INFO c ON (b.SERVICE_CODE=c.SERVICE_CODE AND c.is_allow_insert='1' AND b.if_check = 1 )
		 WHERE IMSI_CODE=#{imsi}
		 <if test="beginDate != null and beginDate !=''">
		 	AND CAPTURE_TIME<![CDATA[>=]]>TO_DATE(#{beginDate}, 'YYYY-MM-DD hh24:mi:ss')
		 </if>
		 <if test="endDate != null and endDate !=''">
		 	AND CAPTURE_TIME<![CDATA[<=]]>TO_DATE(#{endDate}, 'YYYY-MM-DD hh24:mi:ss')
		 </if>
		 GROUP BY SN_CODE, MACHINE_NAME, SERVICE_NAME
    </select>
</mapper>